.input{
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.input:focus{
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inputContainer{
  border: 3px solid var(--secondary-token_10);
  background-color: white;
  border-radius: 13px;
  display: flex;
}

.inputBorder{
  width: 100%;
  border: 5px solid var(--primary-token_10);
  border-radius: 10px;
  display: flex;
}

.icon{
  align-self: center;
  margin-left: 10px;
  color: black;
}

.error{
  border: 3px solid var(--error-token_50);
}

.label{
  position: absolute;
  padding: 11px 45px;
  color: black;
  font-weight: bold;
}