.hero {
  min-height: calc(100vh - 70px);
  text-align: center;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--texts-level3);
  gap: .5rem;
}

.word {
  color: var(--tertiary-token_100);
  font-weight: bolder;
  margin: 0 .75rem;
}

.description {
  color: var(--tertiary-token_100);
  font-weight: bolder;
  margin: 0 .75rem;
}
