.main {
  min-height: 100vh;
}

.hero {
  text-align: center;
  padding: 2rem;
}

.heroText {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.animation {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.word {
  color: magenta;
  font-weight: bold;
}

.description {
  color: white;
}
