.main{
  user-select: none;
}

.main{
  padding: 10px;
  display: flex;
}

.spanText{
  color: var(--tertiary-token_100);
}

.buttonMenu{
  align-content: center;
  margin-left: auto;
  margin-right: 10px;
}
