.form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: center;
  width: 100%;
  max-width: 500px;
}

.title {
  align-self: center;
}

.btn {
  border-radius: 5px;
  padding: 2%;
  border: none;
  background-color: var(--tertiary-token_100);
  color: var(--primary-token_10);
  font-weight: bold;
  font-size: var(--texts-largeg);
  margin-right: auto;
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: var(--tertiary-token_150);
  cursor: pointer;
}

.error{
  font-size: var(--texts-small);
}

.message {
  padding: 1rem;
  border-radius: 5px;
  font-size: var(--texts-small);
  text-align: center;
}

.succesSubmit {
  background-color: white;
  color: black;
  border: 1px solid var(--positive-token_150);
}

.errorSubmit {
  background-color: white;
  color: var(--error-token_200);
  border: 1px solid var(--error-token_150);
}
