.main{
  padding: 10px 20px;
  display: flex;
  user-select: none;
}

.spanText{
  color: var(--tertiary-token_100);
}
.buttonMenu{
  align-content: center;
  margin-left: auto;
  margin-right: 10px;
}